.movieCard {
  max-width: 300px;
  border: 1px solid rgb(37, 89, 88);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  &__image {
    object-fit: cover;
    max-width: 277px;
    max-height: 400px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__year {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &:hover {
    box-shadow: -1px 2px 17px 4px rgba(0, 0, 0, 0.75);
  }
}
