.movieCard {
  max-width: 300px;
  border: 1px solid rgb(37, 89, 88);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  &__image {
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__year {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
