.cardsPanel {
  height: 100%;
  display: grid;
  margin-top: 30px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  justify-content: center;
}
